.MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding: 0;
}

.MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding: 0.3rem;
}

.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
}

.sc-kDTinF.cbyVxv {
  padding: 0;
}

.sc-lbhJGD.fXkNhi {
  padding: 0;
}
.sc-bqiRlB.jLBxmT {
  padding: 0;
}
