.ctdBhK{
    background-color: #eee;

}

.MuiTypography-root.MuiTypography-body1.MuiTypography-gutterBottom.css-d3wcwz-MuiTypography-root{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}