.ctdBhK{
    background-color: #eee;

}

.MuiTypography-root.MuiTypography-body1.MuiTypography-gutterBottom.css-d3wcwz-MuiTypography-root{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.MuiInputAdornment-root.MuiInputAdornment-positionStart.MuiInputAdornment-standard.MuiInputAdornment-sizeMedium.css-ittuaa-MuiInputAdornment-root{
    display: none;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollBody.MuiDialog-paperWidthSm.css-2zwj5t-MuiPaper-root-MuiDialog-paper{
    width: 100%;
}

